body{
    padding-top: 70px;
}

.body-signin {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #7d7dff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  font-size: 18px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  margin: 10px 0;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-singin-button {
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.33;
    padding: 8px 16px;
}



/* for dashboard
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.red{color:#ff0000}

.inline-form-group{
    margin: 10px 0px;
    padding-left: 20px;
}
.inline-form-label{
    width:70px;
}

.form-inline .inline-form-checkbox {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.inline-form-checkbox{
    background-color: #fff;
    background-image: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}


.form-inline .inline-form-mutiple-select {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    /*height: 150px;*/
}

.inline-form-mutiple-select {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.radio-inline, .checkbox-inline{
    padding-left:18px;
}

.search-form-submit-button{
    width:100px;
    margin-top:10px;
    margin-left: 460px;
}

/**
accordion
**/
.accordion-group{

}

.accordion-heading{
    cursor: pointer;
}

.accordion-body{

}

.accordion-inner.activated, .accordion-inner.activated:hover, .accordion-inner.activated:focus{
    background-color: #f5f5f5;
    color: #555555;
    text-decoration: none;

}

/*
*/
.channel-popover{
    /*max-width: 682px;*/
    min-width: 750px;;
    color: #333;
}

.panel-btn-right{
    float:right;
    margin-top:-7px;
}

.loading{
    background-image: url(../img/loading.gif);
    height:200px;
    background-repeat:no-repeat;
    background-position:center;
}

#right .nav{
    margin-bottom: 15px;
}

.collapsed > .glyphicon-hand-right:before {
    content: "î„°";
}

.subMenu{
    background-color:#ffffff;
    opacity:.8;
    filter:alpha(opacity=0);
    -moz-opacity: 0;
    position: fixed;
    z-index: 100;
    bottom:0px;
    right:0px;
    float:top;
}

.subMenu .float{
    width:100%;
    margin:0 auto;
    border-top:0px #333333 solid;
    color:#ffffff;}
.subMenu .float span{
    border:0px solid #fff;
}

.box img {
    width: 100px;
}

.box{
    border: 5px solid #fff;
    margin: 1px;
}

.box_select {
    border-color: #f00;
}

