[default]
host = report.api.youja.cn
report_album_image_list = uplus-report/api/get_pic_list
report_message_next = uplus-report/api/get_next_report
report_remain_count = uplus-report/api/get_remain_report

report_close_api = uplus-report/api/close/mt/%(mod_type)s/uid/%(u_id)s
report_silence_api = uplus-report/api/silence/mt/%(mod_type)s/uid/%(u_id)s
report_delete_resource = uplus-report/api/res/del

report_pass = uplus-report/api/pass

report_dismiss_group = uplus-report/api/dismiss
report_kick_out = uplus-report/api/kickout

report_check_end = uplus-report/api/check_end

report_batch_deal = uplus-report/api/batch_deal_album

report_sheet = uplus-report/api/get_customer_stat

report_profile = uplus-report/api/get_profile

user_punish_log = uplus-report/api/get_deal_result

hall_openmouth = openmouth/hall

show_openmouth = openmouth/show/%(showId)s
show_unlock = unlock/show/%(showId)s

user_unlock= unlock/user/%(uid)s