<dl>
	<dt>
		<label data-id="19850913"><span>ID：</span>19850913</label>
		<label data-report="312272592"><span>举报人：</span>{%= it.data.reporter %}</label>
		<label data-reported="888"><span>被举报人：</span>楼筱卿</label>
		<label data-mode="show"><span>模式：</span>秀场</label>
		<label data-mode="reason"><span>原因：</span>色情</label>
	</dt>
	<dd>
		<div class="profile">
			<h2>Joenix's Show Time</h2>
			<p>
				I am 《The King Of Fighters》, Yo Yo Check Now, Jian Bing Guo Zi Lai Yi Tao ~;
			</p>
			<menu>
				<button class="yellow" type="button" data-fancy="/template/audit-operat.html" data-closeClick="false" data-title="举报处理" data-callback="operatSelect">操作</button>
			</menu>
		</div>
		<div class="divider"></div>
		<div class="proinfo">
			<table class="table-theme">
				<thead>
					<tr>
						<th width="10%">编号</th>
						<th width="40%">内容</th>
						<th width="20%">被举报者ID</th>
						<th width="10%">消息类型</th>
						<th width="20%">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>312272592</td>
						<td><i class="glyphicon glyphicon-list-alt"></i>你是我的小啊小苹果，怎么爱你都不嫌多，红红的小脸温暖我的心窝，点燃我生命的火，火火火火火！</td>
						<td>9527</td>
						<td>消息</td>
						<td>
							<menu>
								<button class="yellow" type="button">操作</button>
							</menu>
						</td>
					</tr>
					<tr>
						<td>312272592</td>
						<td><a target="_blank" href="http://www.baidu.com/"><i class="glyphicon glyphicon-music"></i>点击访问音频</a></td>
						<td>0033</td>
						<td>音频</td>
						<td>
							<menu>
								<button class="yellow" type="button">操作</button>
							</menu>
						</td>
					</tr>
					<tr>
						<td>312272592</td>
						<td><a target="_blank" href="http://www.baidu.com/"><i class="glyphicon glyphicon-film"></i>点击访问视频</a></td>
						<td>0033</td>
						<td>视频</td>
						<td>
							<menu>
								<button class="green" type="button" data-function="chooseUn">合格</button>
							</menu>
						</td>
					</tr>
					<tr>
						<td>312272592</td>
						<td><a target="_blank" href="http://www.baidu.com/"><i class="glyphicon glyphicon-music"></i>点击访问音频</a></td>
						<td>0033</td>
						<td>音频</td>
						<td>
							<menu>
								<button class="red" type="button" data-function="chooseUn">不合格</button>
							</menu>
						</td>
					</tr>
					<tr>
						<td>312272592</td>
						<td><a target="_blank" href="http://www.baidu.com/"><i class="glyphicon glyphicon-film"></i>点击访问视频</a></td>
						<td>0033</td>
						<td>视频</td>
						<td>
							<menu>
								<button class="green" type="button" data-function="chooseUn">合格</button>
							</menu>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</dd>
</dl>